* {
  box-sizing: border-box;
}

html {
  font-size: 11px;
}

section {
  padding: 3rem 5rem 5rem;
}


/*heading*/
b {
  font-weight: bold;
}

p {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  font-family: "halant",Times,serif;
  font-size: 1.8rem;
  font-weight:400;
  line-height: 1.3em;
}

h3 {
  color: black;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}


h4 {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.6rem;
  padding-top: 1rem;
}

/*navigation*/
.navbar {
  background-color: white;
  border: 1px solid #EEEDE9;
  font-family: "roboto",sans-serif;
  font-size: 1.4rem;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-nav {
  background-color:#FAF8F0;
  display: none;
  list-style-type: none;
  padding: 2rem;
  z-index: 3;
}

.nav-links, .logo {
  color: black;
  text-decoration: none;
}

.nav-links:hover, .fab:hover {
  color: #E07B63;
}

.main-nav li {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.1rem;
  text-align: center;
}

li {
  line-height: 1.5rem;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 1.8rem;
  position: absolute;
  margin: 1.6rem 2rem 0rem 2rem;
  right: 20px;
}

.active {
  display: block;
}


#logo {
    height: 50px;
    margin-left: 2rem;
    object-fit: contain;
    padding: 1rem;
    width: 60px;
}

/*button*/
.button {
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  padding: 1rem 3.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;

}

.button-header {
  color: #F5896C;
  border-radius: .5rem;
  display: inline;
}

/*links*/
a {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

.casestudy-link {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*image styling*/
img {
  height: 35rem;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

/*footer*/
.footer {
  margin-top: 2rem;
  text-align: center;
}

.hr-footer {
  border: none;
  border-top: .1rem solid #DEDADA;
  width: 90%;
}

.footer-icon {
  text-align: center;
}

.footer-icon a{
  display: inline-block;
  padding-bottom: 3rem;
  width: 10%;
}

.fab {
  color: black;
  font-size: 2rem;
}


/*tablet*/
@media screen and (min-width: 768px) {
  section {
    padding: 4rem 10rem;
  }

  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    z-index: 10;
  }

  .main-nav {
    background-color: white;
    display: flex;
    margin-right: 3rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: .8rem;
  }

  .navbar-toggle {
    display: none;
  }

  .button-header {
    background-color: #F5896C;
    border-radius: .5rem;
    color: white;
    display: inline;
    padding: .8rem 2rem;
    margin-left: 40px;
  }

  .logo:hover, .nav-links:hover {
    color: #E07B63;
  }

  .logo:hover, .nav-links:hover {
    color: #E07B63;
  }
  img {
    height: 30rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}


/*desktop*/
@media screen and (min-width: 1200px) {
  section {
    padding: 5rem 20rem;
  }

  img {
    height: 35rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}
