* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

section {
  padding: 2rem 4rem 2rem 4rem;
}


/*heading*/
h3 {
  font-family: "halant",Times,serif;
  font-size: 3rem;
  font-weight:400;
  line-height: 1.3em;
  margin-bottom: 1.5rem;
}

h4 {
  font-family: "roboto",arial,sans-serif;
  color: #FF744F;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

h5 {
  font-family: "roboto",arial,sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3em;
  order: -1;
}

p {
  font-family: "roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hr {
  border: none;
  border-top: .1rem solid #DEDADA;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.work {
  margin-bottom: 1rem;
}

/*navigation*/
.navbar {
  background-color: white;
  border: 1px solid #EEEDE9;
  font-family: "roboto",sans-serif;
  font-size: 1.4rem;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-nav {
  background-color:#FAF8F0;
  list-style-type: none;
  display: none;
  padding: 2rem;
  z-index: 3;
}

.main-nav a {
  color: black;
  text-decoration: none;
}

.main-nav .current {
  color: #FF744F;
}

a {
  color: #F06F54;
  cursor: pointer;
  display: block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
}

.nav-links:hover, .fab:hover {
  color: #F06F54;
}

.main-nav li {
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem;
  text-align: center;
}

li {
  line-height: 4.3rem;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  margin: 1.6rem 2rem 0rem 2rem;
  right: 20px;
}

.active {
  display: block;
}


#logo {
  height: 58px;
  margin-left: 2rem;
  margin-bottom: 0rem;
  object-fit: contain;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 65px;
}

/*button*/
.button {
  background-color: #FF744F;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.6rem;
  margin-top: 0rem;
  margin-bottom: 2.5rem;
  padding: 1.5rem 3.5rem;
  text-decoration: none;
}

#about-me-button {
  margin-top: 3rem;
}

.button:hover, #about-me-button:hover {
  background-color: #CD4D2B;
}

/*image styling*/
img {
  height: 44rem;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: center;
  padding-top: 6rem;
  width: 100%;
}

/*footer*/
footer {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}

p.footer-copy{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-icon {
  margin-top: 1.5rem;
  text-align: center;
}

.footer-copy {
  padding-right: 3rem;
  padding-left: 3rem;
}

.footer-icon a {
  display: inline;
  padding: 2rem;
  width: 10%;
}

.fab {
  color: black;
  font-size: 2.5rem;
}


/*tablet*/
@media screen and (min-width: 768px) {
  section {
    padding: 3rem 18rem;
  }
  h3 {
    font-family: "halant",Times,serif;
    font-size: 3.4rem;
    font-weight:400;
    line-height: 1.3em;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-family: "roboto",arial,sans-serif;
    color: #FF744F;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
  }

  h5 {
    font-family: "roboto",arial,sans-serif;
    font-size: 2.4rem;
    line-height: 1.3em;
  }

  p {
    font-family: "roboto",Arial,sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .hr {
    border: none;
    border-top: .1rem solid #DEDADA;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .about-me-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
  }

  .about-me-copy {
    margin: 0 auto;
  }

  .part-one {
    width: 70%;
  }

  .part-two {
    width: 30%;
  }

  .work {
    padding-bottom: 1rem;
  }

  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 85px;
    z-index: 10;
  }

  .main-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2.2rem;
  }

  .main-nav  a{
    font-size: 1.6rem;
    margin-right: 40px;
  }

  .main-nav li {
    margin: 0;
    padding-top: .5rem;
  }

  .main-nav .current {
    color: #FF744F;
  }


  #logo {
    margin-top: 1.2rem;
    display: inline;
    margin-left: 3rem;
    object-fit: contain;
  }

  .navbar-toggle {
    display: none;
  }

  .button-header {
    background-color: #F5896C;
    border-radius: .5rem;
    color: white;
    font-size: 1.4rem;
    padding: .8rem 2rem;
    margin-left: 40px;
    margin-top: .5rem;
  }

  .logo:hover, .nav-links:hover {
    color: #F06F54;
  }

  img {
    height: 52rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  section {
    padding: 3rem 35rem;
  }
}
