* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 5rem 3rem 5rem;
}

/*navigation*/
.navbar {
  background-color: white;
  border: 1px solid #EEEDE9;
  font-family: "roboto",sans-serif;
  font-size: 1.4rem;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-nav {
  background-color:#FAF8F0;
  list-style-type: none;
  display: none;
  padding: 2rem;
  z-index: 3;
}

.nav-links, .logo {
  color: black;
  text-decoration: none;
}

.nav-links:hover, .fab:hover {
  color: #E07B63;
}

.main-nav li {
  margin-left: auto;
  margin-right: auto;
  padding-top: .5rem;
  text-align: center;
}

li {
    line-height: 4.3rem;
    display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  margin: 1.6rem 2rem 0rem 2rem;
  right: 20px;
}

.active {
  display: block;
}

/*headings*/
b {
  font-weight: bold;
}

h1 {
  font-family: "halant",Times,serif;;
  font-size: 2rem;
  line-height: 1.3em;
}

h2 {
  font-family: "roboto",arial,sans-serif;
  font-size: 2rem;
  line-height: 1.3em;
}

h3 {
  color: black;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.8rem;
  padding-top: 1rem;
}

h4 {
  color: #FF744F;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.8rem;
  padding-top: 1rem;
}

h5 {
  color: #FF744F;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-top: 1rem;
}

p {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*button*/
.button, .button-wireframes {
  background-color: #FF744F;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.6rem;
  padding: 1.5rem 3.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

.button:hover, .button-wireframes:hover {
  background-color: #FFB19C;
}

.button-wireframes {
  padding: 1.5rem 3.5rem;
  margin-bottom: 3rem;
  text-decoration: none;
}

.competitive-analysis-button, .clearbox-prototype-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.competitive-analysis-button {
  text-align: center;
  margin-top: 3rem;
}

/*links*/
a {
  color: #F06F54;
  cursor: pointer;
  display: block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}

.link-secondary {
  font-family: "roboto",arial,sans-serif;
  font-size: 1.5rem;
}

/*image styling*/
img {
  width: 100%;
}

#user-testing-2, #branding, #wireframe {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


#logo {
  height: 58px;
  margin-left: 2rem;
  object-fit: contain;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 65px;
}

#competitive-analysis {
  margin-top: 2rem;
}

#paper-prototype {
  height: 35rem;
  object-fit: contain;
  width: 100%;
}

/*hero*/
.clearbox-container {
  width: 100%;
}

.clearbox-image {
  background-image: url("../Images/Clearbox/ClearBox_Hero-image.png");
  height: 30rem;
  width: 100%;
}

.clearbox-copy {
  position: absolute;
  margin: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: center;
  top: 12%;
  width: 100%;
}

/*overview*/
.hr, .hr-architecture, .hr-footer {
  border: none;
  border-top: .1rem solid #DEDADA;
  width: 90%;
}

.hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.hr-architecture {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*problem*/
.problem {
  background-color: #F9F7F3;
}

.discovery-image {
  background-image: url("../Images/Clearbox/Discovery_Phase-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -6rem;
  height: 35rem;
  max-width: 100%;
}

/*user personas*/
.user-personas {
  background-color: #F9F7F3;
}

#persona {
  height: 15rem;
  object-fit: contain;
  margin-bottom: 2rem;
  width: 100%;
}

.persona-one-wrapper, .persona-two-wrapper {
  width: 100%;
}

.persona-two {
}

.persona-one, .persona-two {
  text-align: center;
}

.persona-one-copy, .persona-two-copy {
  margin-bottom: 2rem;
  text-align: center;
}

/*information architecture*/
.information-architecture {
  background-color: #F9F7F3;
}

#information-architecture {
  object-fit: contain;
  height: 16rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.preference-testing {
  text-align: center;
  padding: 0rem 5rem 0rem 5rem;;
}

.preference-wrapper {
  padding: 0rem !important;
}

.image-one {
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 100%;
}

.image-two {
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 100%;
}

/*competitive analysis*/
.brand-moodboard {
  background-image: url("../Images/Clearbox/ClearBox-MoodBoard.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.feature-copy {
  padding: 2rem 3rem;
}

.feature-copy-left {
  padding: 0rem 3rem;
}

.feature-image-right {
  margin-bottom: 1.5rem;
}

.feature-wrapper, .feature-wrapper-reverse {
  margin-right: 2rem;
  margin-left: 2rem;
}

/*high fidelity*/
.highfidelity-prototype {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*carousel*/
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100%;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

/*bullets*/
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #929293;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #F5896C;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #F06F54;
}

/**back to top**/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 17px;
  border: none;
  background-color: #FFB19C;
  color: #FF745E;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
}

#myBtn:hover {
  color: white;
  background-color: rgb(245, 101, 89);
}


/*footer*/
footer {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}

p.footer-copy{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-icon {
  margin-top: 1.5rem;
  text-align: center;
}

.footer-copy {
  padding-right: 3rem;
  padding-left: 3rem;
}

.footer-icon a {
  display: inline;
  padding: 2rem;
  width: 10%;
}

.fab {
  color: black;
  font-size: 2.5rem;
}


/*tablet*/
@media screen and (min-width: 768px) {
  section {
    padding: 3rem 17rem;
  }

  #logo {
    margin-top: 1.2rem;
    display: inline;
    margin-left: 3rem;
    object-fit: contain;
  }


  .clearbox-image {
    background-image: url("../Images/Clearbox/ClearBox_Hero-image.png");
    height: 36rem;
    width: 100%;
  }

  .clearbox-copy {
    position: absolute;
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
    top: 40%;
    width: 100%;
  }

  h1 {
    font-family: "halant",Times,serif;
    font-size: 3rem;
    line-height: 1.5em;
  }

  h2 {
    color: black;
    font-family: "roboto",arial,sans-serif;
    font-size: 1.8rem;
    line-height: 1.5rem;
  }

  h3 {
    color: black;
    font-family: "roboto",arial,sans-serif;
    font-size: 2rem;
  }

  h4 {
    color: #FF744F;
    font-family: "roboto", arial, sans-serif;
    font-size: 2rem;
    padding-top: 1rem;
}


  h5 {
    color: #FF744F;
    font-family: "roboto",arial,sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1rem;
  }

  p {
    font-family: "roboto",Arial,sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .overview {
    display: flex;
    margin-top: 6rem;
  }

  .column-1 {
    padding-right: 2rem;
    width: 50%;
  }

  .column-2 {
    padding-left: 2rem;
    width: 50%;
  }

  .clearbox-container {
    position: relative;
    height: 30rem;
    width: 100%;
  }

  .clearbox-image {
    background-image: url(../Images/Clearbox/ClearBox_Hero-image.png);
    background-position: center;
    height: 35rem;
    width: 100%;
  }

  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 85px;
    z-index: 10;
  }

  .main-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2.2rem;
  }

  .main-nav li {
    margin: 0;
    margin-top: .5rem;
  }

  .nav-links {
    font-size: 1.4rem;
    margin-right: 40px;
  }

  #logo {
    margin-top: 1.2rem;
    display: inline;
    margin-left: 3rem;
    object-fit: contain;
  }

  .navbar-toggle {
    display: none;
  }

  .button-header {
    background-color: #F5896C;
    border-radius: .5rem;
    color: white;
    display: inline;
    padding: .8rem 2rem;
    margin-left: 40px;
  }

  #prototype {
    margin-bottom: 1rem;
  }

  .logo:hover, .nav-links:hover {
    color: #E07B63;
  }

  .carousel-item img {
    display: block;
    height: 28rem;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
  }

  #information-architecture {
    object-fit: contain;
    height: 27rem;
    margin-top: 1rem;
    width: 100%;
  }

  #persona {
    height: 14rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: contain;
    width: 100%;
  }

  .user-persona-container {
    display: flex;
    flex-direction: row;
  }

  .persona-one-wrapper {
    margin-right: 2rem;
  }

  .persona-two-wrapper {
    margin-left: 2rem;
  }

  #paper-prototype {
    height: 35rem;
    object-fit: contain;
    width: 100%;
    margin-top: 1.5rem;
  }

  .preference-testing {
    text-align: center;
    padding: 0rem 10rem 0rem 10rem
  }

  .hr {
    display: none;
  }

  .vl {
    border-left: .1rem solid #DEDADA;
    height: 50%;
    left: 50%;
    margin-left: -3px;
  }

  .brand-moodboard {
    background-position: center;
    background-image: url("../Images/Clearbox/ClearBox-MoodBoard.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
  }

  .discovery-image {
    background-image: url(../Images/Clearbox/Discovery_Phase-image.png);
    background-position: 0 40%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
    margin-top: 2rem;
    height: 45rem;
    max-width: 100%;
  }

  #customize {
    height: 25rem;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  #branding {
    object-fit: contain;
    width: 100%;
  }

  #preference {
    object-fit: contain;
    width: 100%;
  }

  .feature-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .feature-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    object-position: center;
    margin: auto;
    width: 90%;
  }

  .feature-wrapper-reverse {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2rem;
    margin-left: 2rem;
    margin: auto;
    width: 90%;
  }

  .feature-image-1 {
    height: 30rem;
    margin: 0 auto;
    width: 100%;
  }

  .feature-copy {
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 2rem;
    width: 100%;
  }

  .feature-image-right {
    float: right;
    height: 30rem;
    width: 100%;
  }

  .feature-copy-left {
    padding-right: 2rem;
    width: 100%;
  }

 .feature-image-3 {
    height: 30rem;
    width: 100%;
  }

  .preference-wrapper {
    display: flex;
    flex-direction: row;
  }
}

/*desktop*/
@media screen and (min-width: 1200px) {
  section {
    padding: 3rem 36rem;
  }

  #preference {
    width: 95%;
    object-fit: cover;
  }

/*max-width desktop*/
  @media screen and (min-width: 1400px) {
    section {
      padding: 3rem 45rem;
    }
}
