* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
}

.container {
  background-color: white;
  margin: 0 auto; /*going to appear in the middle*/
}

section {
  padding: 3rem 3rem 3rem;
}


/*headings*/
b {
  font-weight: bold;
}

p {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.5rem;
  margin: 2rem 0;
  line-height: 1.3em;
}

h2 {
  font-family: "halant",Times,serif;
  font-size: 1.8rem;
  font-weight:400;
  line-height: 1.3em;
}

h3 {
  color: black;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.5rem;
}


h5 {
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.3rem;
}

.pink{
  color: #F06F54;
}

h6 {
  color: #8E8E8E;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-top: 1.3rem;
}


/*button*/
.button {
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  padding: 1rem 3.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;

}

.button-header{
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline;
  padding: .8rem 2rem;
}

.button-outline {
  border: 2px solid #F5896C;
  border-radius: .5rem;
  color: #F5896C;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  margin: 2rem .2rem;
  padding: 1rem 3.2rem;
  text-decoration: none;

}

.hr {
  width: 75%;
}

/*links*/
a {
  color: black;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
}

.newanchor:link {
  color: black;
  padding: 2rem;
}

.newanchor:hover {
  color: #F06F54;
}

.newanchor-2:link {
  color: #F06F54;
}

.casestudy-link {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*nav*/
.nav-bar-container {
  background-color: white;
  height: 60px;
	left: 0;
  position: fixed;
  top: 0;
  width: 100%;
	z-index: 100;
}


#logo {
  height: 60px;
  margin-left: 2rem;
  object-fit: cover;
  padding: 1rem;
  width: 60px;
}


.logo-navbar-left {
  display: inline-block;
  float: left;
}

.logo-navbar-right {
  flex-direction: row;
  float: right;
  height: 60px;
}

#hamburger-icon {
  height: 60px;
  object-fit: cover;
  padding: 2rem;
  width: 60px;
}

#mylinks {
  /* background-color: purple; */
  display: inline-block;
  display: none;
  float: right;
  height: 60px;
  padding: 2.5rem;
}


/*image styling*/
img {
  object-fit: contain;
  padding: 2rem;
  width: 100%;
}

ul {
  color: #929293;
  font-size: .8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

li {
  display: inline-block;
}

/*hero*/
.clearbox-container {
  width: 100%;
  position: relative;
}

.clearbox-copy {
  width: 100%;
  text-align: center;
  padding: 2rem 4rem;
  margin: 0 auto;
  bottom: 15%;
  position: absolute;
}

.clearbox-image {
  margin-top: 10%;
  width: 100%;
  height: 30rem;
  background-image: url("../Images/ClearBox_Hero-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*overview*/
.hr {
  border-top: .1rem solid #DEDADA;
  width: 90%;
}

/*problem*/
.problem {
  background-color: #F9F7F3;
}

.discovery {
  padding: 0rem 3rem 2rem 3rem;
}

.discovery-image {
  max-width: 100%;
  height: 30rem;
  background-image: url("../Images/Discovery_Phase-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*user personas*/
.user-personas {
  background-color: #F9F7F3;
}

.persona-one {
  padding: 0rem 10rem 0rem 10rem;
}

.persona-two {
  padding: 0rem 10rem 0rem 10rem;
}

/*information architecture*/
.information-architecture {
  background-color: #F9F7F3;
}

.preference-testing {
  background-color: #F9F7F3;
  text-align: center;
}

.preference-wrapper {
  padding: 0rem !important;
}

/*competitive analysis*/
.competitive-analysis-button {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*footer*/
footer {
  margin-top: 2rem;
  text-align: center;
}

.footer-icon {
  text-align: center;
}

.footer-icon a{
  display: inline-block;
  padding-bottom: 3rem;
  width: 10%;
}

.fab {
  font-size: 2rem;
  color: black;
}


/*media queries*/

/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    margin: 0 auto;
    width: 100%;
  }

  .overview {
    display: flex;
  }

  .column-1 {
    padding-right: 2rem;
    width: 50%;
  }

  .column-2 {
    padding-left: 2rem;
    width: 50%;
  }

}



/*desktop*/
@media screen and (max-width: 1025px) {
  .container {
    margin: 0 auto;
    padding-bottom: 100px
    width: 100%;
  }
}
