* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
}

section {
  padding: 3rem 5rem 5rem;
}


.active {
  display: block;
}


#logo {
  height: 58px;
  margin-left: 2rem;
  object-fit: contain;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  width: 65px;
}

/*headings*/
p {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

h1 {
  color: #FF744F;
  text-align: center;
  font-family: "halant",Times,serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

h2 {
  color: black;
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-right: 3rem;
}

h3 {
  font-family: "roboto",arial,sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 1rem;
}

/*button design*/
#button, .button {
  background-color: #FF744F;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  padding: 1.5rem 3.5rem;
  text-decoration: none;
}

#button {
  margin-top: 2rem;
}

.button-header {
  color: #F5896C;
}

/*links*/
a {
  color: #F06F54;
  cursor: pointer;
  display: block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
}

/*navigation*/
.navbar {
  background-color: white;
  border: 1px solid #EEEDE9;
  font-family: "roboto",sans-serif;
  font-size: 1.4rem;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-nav {
  background-color:#FAF8F0;
  list-style-type: none;
  display: none;
  padding: 2rem;
  z-index: 3;
}

.nav-links, .logo {
  color: black;
  text-decoration: none;
}

 .fab:hover, #button:hover, .button:hover {
  color: #FFB19C;
}

.main-nav li {
    margin-left: auto;
    margin-right: auto;
    padding-top: .5rem;
    text-align: center;
}

li {
    line-height: 4.3rem;
    display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 2.5rem;
  position: absolute;
  margin: 1.6rem 2rem 0rem 2rem;
  right: 20px;
}

.active {
  display: block;
}

/*form*/

label {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.4rem;
  display: block;
  align-items: center;
}

input[type=text], seclect {
  font-size: 1.4rem;
  height: 40px;
  margin: 1.8rem 0;
  outline: none;
  padding: 1.2rem 2rem;
  width: 100%;
}

textarea#styled {
  border: 1px solid #c9c4c4;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  height:12rem;
  margin: 1.8rem 0;
  outline: none;
  padding: 2rem;
  resize: none;
  width: 100%;
}

#message {
  height: 20rem;
  padding-bottom: -30rem;
  text-align: top;
}

.form-container {
  padding-top: 8rem;
}
.form-wrapper {
  padding: 0rem 3rem 0rem 3rem;
}

.hr-footer {
  border: none;
  border-top: .1rem solid #DEDADA;
  width: 90%;
}

/*footer*/
footer {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}

p.footer-copy{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-icon {
  margin-top: 1.5rem;
  text-align: left;
}

.footer-copy {
  padding-right: 3rem;
}

.link-secondary {
  font-family: "roboto",arial,sans-serif;
  font-size: 1.5rem;
}
.footer-icon a {
  display: inline;
  padding: 2rem;
  padding-left: 0rem;
  width: 10%;
}

.fab {
  color: black;
  font-size: 2.5rem;
}

/*tablet*/
@media screen and (min-width: 768px) {
  section {
    padding: 3rem 8rem;
  }

  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 85px;
    z-index: 10;
  }

  .main-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2.2rem;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    font-size: 1.4rem;
    margin-right: 40px;
  }

  #logo {
    margin-top: 1.2rem;
    display: inline;
    margin-left: 3rem;
    object-fit: contain;
  }

  .navbar-toggle {
    display: none;
  }

  .button-header {
    background-color: #F5896C;
    border-radius: .5rem;
    color: white;
    font-size: 1.4rem;
    padding: .8rem 2rem;
    margin-left: 40px;
    margin-top: .5rem;
  }

  .logo:hover, .nav-links:hover {
    color: #E07B63;
  }

  .hr-footer {
    border: none;
    border-top: .1rem solid #DEDADA;
    width: 80%;
  }

  .form-container {
    padding-top: 13rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 9rem;
  }

  .form {
    margin-right: 3rem;
    float: right;
    width: 100%;
  }
}


/*desktop*/
@media screen and (min-width: 1200px) {
  section {
    padding: 3rem 30rem;
  }
  h1 {
    color: #FF744F;
    text-align: center;
    font-family: "halant",Times,serif;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }

}
