* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
}

.container {
  background-color: white;
  margin: 0 auto; /*going to appear in the middle*/
}

section {
    padding: 3em;
}

.form-wrapper {
  padding: 0rem 3rem 0rem 3rem;
}

/*headings*/
b {
  font-weight: bold;
}

p {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: .8rem;
  margin-top: .8rem;
}

h1 {
  font-family: "halant",Times,serif;
  color: #F5896C;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 10rem;
}

h2 {
  font-family: "roboto",Arial,sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.pink{
  color: #F06F54;
}

h6 {
  color: #8E8E8E;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-top: 1.3rem;
}


/*button*/
.button {
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  margin: 2rem .2rem;
  padding: 1rem 3.2rem;
  text-decoration: none;

}

.button-header{
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline;
  padding: .8rem 2rem;
}

.button-outline {
  border: 2px solid #F5896C;
  border-radius: .5rem;
  color: #F5896C;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  margin: 2rem .2rem;
  padding: 1rem 3.2rem;
  text-decoration: none;

}


/*links*/
a {
  color: black;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
}

.newanchor:link {
  color: black;
  padding: 2rem;
}

.newanchor:hover {
  color: #F06F54;
}

.newanchor-2:link {
  color: #F06F54;
}

.casestudy-link {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*nav*/
.nav-bar-container {
  background-color: white;
  height: 60px;
	left: 0;
  position: fixed;
  top: 0;
  width: 100%;
	z-index: 100;
}


#logo {
  height: 60px;
  margin-left: 2rem;
  object-fit: cover;
  padding: 1rem;
  width: 60px;
}


.logo-navbar-left {
  display: inline-block;
  float: left;
}

.logo-navbar-right {
  flex-direction: row;
  float: right;
  height: 60px;
}

#hamburger-icon {
  height: 60px;
  object-fit: cover;
  padding: 2rem;
  width: 60px;
}

#mylinks {
  /* background-color: purple; */
  display: inline-block;
  display: none;
  float: right;
  height: 60px;
  padding: 2.5rem;
}

/*form*/
input[type=text], seclect {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: .8rem 0;
  font-size: 1.2rem;
}

textarea {
  width: 100%;
  font-family: "roboto",Arial,sans-serif;
  font-weight:normal;
  height: 150px;
  padding: 1.2rem 2rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin: .8rem 0;
  resize: none;

.hr-footer {
  border-top: .1rem solid #DEDADA;
  width: 90%;
}

/*footer*/
.footer {
  margin-top: 5rem;
  text-align: center;
}

.footer-icon {
  text-align: center;
}

.footer-icon a{
  display: inline-block;
  padding-bottom: 3rem;
  width: 10%;
}

.fab {
  font-size: 2rem;
  color: black;
}


/*media queries*/

/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }

  #design-chart-image {
    height: 40rem;
    object-fit: contain;
    width: 50%;
  }

  #hamburger-icon {
    display: none;
  }

  .hr {
    width: 75%;
  }

  #mylinks {
    display: inline-block;
    float: right;
    height: 60px;
    padding: 2.5rem;
  }

}



/*desktop*/
@media screen and (max-width: 1025px) {
  .container {
    margin: 0 auto;
    padding-bottom: 100px
    width: 100%;
  }
}
