* {
  box-sizing: border-box;
}

html {
  font-size: 11px;
}

section {
  padding: 3rem 5rem 3rem;
}

/*navigation*/

.navbar {
  background-color: white;
  border: 1px solid #EEEDE9;
  font-family: "roboto",sans-serif;
  font-size: 1.4rem;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-nav {
  background-color:#FAF8F0;
  display: none;
  list-style-type: none;
  padding: 2rem;
  z-index: 3;
}

.nav-links, .logo {
  color: black;
  text-decoration: none;
}

.nav-links:hover, .fab:hover {
  color: #E07B63;
}

.main-nav li {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.1rem;
  text-align: center;
}

li {
  line-height: 1.5rem;
}

.navbar-toggle {
  position: absolute;
  margin: 1.6rem 2rem 0rem 2rem;
  right: 20px;
  cursor: pointer;
  font-size: 1.8rem;
}

.active {
  display: block;
}

#logo {
    height: 50px;
    margin-left: 2rem;
    object-fit: contain;
    padding: 1rem;
    width: 60px;
}

/*headings*/
b {
  font-weight: bold;
}

p {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h2 {
  font-family: "halant",Times,serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3em;
}

h3 {
  color: black;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.5rem;
  padding-top: 1rem;
}


h4 {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.6rem;
  padding-top: 1rem;
}

h5 {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-top: 1rem;
}

h6 {
  color: black;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.8rem;
  padding-top: 1.5rem;
}


/*button*/
.button {
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  padding: 1rem 3.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

.competitive-analysis-button, .jobflare-prototype-button {
  align-items: center;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
}

.back-to-top {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
}


/*links*/
a {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

#link {
  color: rgba(45, 99, 191);
  text-decoration: underline;
}

.casestudy-link {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.link-secondary {
  font-family: "roboto",arial,sans-serif;
  font-size: 1.5rem;
}

.link-secondary:hover {
  color: #F06F54;
}

/*image styling*/

img {
  margin-bottom: 1rem;
  width: 100%;
}

.jobflare-guy {
  background-image: url("../Images/JobFlare/JobFlare-guy.png");
  height: 30rem;
  background-position: center;
  background-size: cover;
  width: 100%;
}
/*hero*/
.jobflare-container {
  width: 100%;
}

.jobflare-copy {
  color: white;
  top: 14%;
  position: absolute;
  margin: auto;
  text-align: center;
  width: 100%;
}

.jobflare-image {
  background-image: url("../Images/JobFlare/JobFlare-image.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  width: 100%;
}

.image-container {
  margin: 0 auto;
  width: 100%;
}

.image-one {
  background-image: url("../Images/JobFlare/jobflare-image2.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 90%;
}

.image-two {
  background-image: url("../Images/JobFlare/jobflare-image2.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  margin: 0 auto;
  width: 90%;
}

/*overview*/
.hr, .hr-architecture, .hr-footer {
  border: none;
  border-top: .1rem solid #DEDADA;
  width: 90%;
}

/*problem*/
.challenges {
  background-color: #F9F7F3;
}

/*footer*/
footer {
  margin-top: 2rem;
  text-align: center;
}

.footer-icon {
  text-align: center;
}

.footer-icon a {
  display: inline-block;
  padding-bottom: 3rem;
  width: 10%;
}

.fab {
  color: black;
  font-size: 2rem;
}


/*media queries*/
/*tablet*/
@media screen and (min-width: 768px) {
  section {
    padding: 2rem 18rem;
  }

  .overview {
    display: flex;
  }

  .column-1 {
    padding-right: 2rem;
    width: 50%;
  }

  .column-2 {
    padding-left: 2rem;
    width: 50%;
  }

  .jobflare-container {
    position: relative;
    height: 30rem;
    width: 100%;
  }

  .jobflare-copy {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 42%;
    width: 100%;
  }

  #logo {
    margin-top: .8rem;
  }

  .button-header {
    background-color: #F5896C;
    border-radius: .5rem;
    color: white;
    display: inline;
    padding: .8rem 2rem;
    margin-left: 40px;
  }

  .navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    padding-bottom: 0;
    z-index: 10;
  }

  .main-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover, .nav-links:hover {
    color: #E07B63;
  }

  .hr {
    display: none;
  }

  .vl {
    border-left: .1rem solid #DEDADA;
    height: 50%;
    left: 50%;
    margin-left: -3px;
  }

  .image-one {
    width: 100%;
  }

  .image-two {
    width: 100%;
  }

  .image-container {
    display: flex;
    flex-direction: row;
  }

  .image-one {
    background-image: url("../Images/JobFlare/jobflare-image2.png");
    background-size: cover;
    background-position: center;
    height: 35rem;
    margin-right: 1rem;
    width: 50%;
  }

  .image-two {
    background-image: url("../Images/JobFlare/jobflare-image2.png");
    background-size: cover;
    background-position: center;
    height: 35rem;
    margin-left: 1rem;
    width: 50%;
  }

  .feature-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 90%;
  }
}


/*desktop*/
@media screen and (min-width: 1200px) {
  section {
    padding: 3rem 25rem;
  }

  #preference {
    width: 80%;
    object-fit: cover;
  }
}
