* {
  box-sizing: border-box;
}

html {
  font-size: 11px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

section {
  padding: 2rem 4rem 2rem 4rem;
}

/*title animation*/
.animate-pop-in {
  animation: pop-in .6s ease-out forwards;
  opacity: 0;
}

.header-title {
  animation-delay: .5s;
}

.header-subtitle {
  animation-delay: .8s;
}

.header-button {
  animation-delay: 1s;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/*navigation*/
.navbar {
  background-color: white;
  border: 1px solid #EEEDE9;
  font-family: "roboto",sans-serif;
  font-size: 1.4rem;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main-nav {
  background-color:#FAF8F0;
  display: none;
  list-style-type: none;
  padding: 2rem;
  z-index: 3;
}

.nav-links, .logo {
  color: black;
  text-decoration: none;
}

.nav-links:hover, .fab:hover, .dropbtn:hover {
  color: #E07B63;
}

.main-nav li {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.1rem;
  text-align: center;
}

li {
  line-height: 1.5rem;
}

.navbar-toggle {
  cursor: pointer;
  font-size: 1.8rem;
  position: absolute;
  margin: 1.6rem 2rem 0rem 2rem;
  right: 20px;
}

.active {
  display: block;
}

#logo {
  height: 50px;
  margin-left: 2rem;
  object-fit: contain;
  padding: 1rem;
  width: 60px;
}

/*headings*/
b {
  font-weight: bold;
}

p {
  font-family: "roboto",Arial,sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  font-size: 3.1rem;
  line-height: 1.3em;
  margin: 2rem 1rem;
}

h2 {
  font-family: "halant",Times,serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3em;
}

h3 {
  font-family: "halant",Times,serif;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 2rem;
}

h4 {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.3rem;
}

h6 {
  color: #8E8E8E;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-top: 1.3rem;
}

/*button*/
.button {
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  padding: 1rem 3.2rem;
  text-decoration: none;
}

.button-hero {
  background-color: #F5896C;
  border-radius: .5rem;
  color: white;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: 1rem 3.2rem;
  text-decoration: none;
}

.button-outline {
  border: 2px solid #F5896C;
  border-radius: .5rem;
  color: #F5896C;
  display: inline-block;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.4rem;
  margin: 2rem .2rem;
  padding: 1rem 3.2rem;
  text-decoration: none;
}

/*links*/
a {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

.newanchor:link {
  color: black;
  padding: 2rem;
}

.newanchor:hover {
  color: #F06F54;
}

.newanchor-2:link {
  color: #F06F54;
}

.casestudy-link {
  color: #F06F54;
  font-family: "roboto",arial,sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/*image styling*/
img {
  height: 350px;
  object-fit: cover;
  width: 100%;
}

/*hero*/
section.hero {
  padding: 150px 30px 20px;
}

.hero {
  text-align: center;
}

/*recent work*/
.featured-project {
  margin-top: 1.5rem;
}

.featured-project-copy {
  background-color: #FAF8F0;
  padding: 20px 0px 20px 20px;
}

.project-copy {
  background-color: white;
  color: black;
  display: block;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  text-align: center;
  top: 57%;
  width: 200px;
}

.project-container-1 {
  margin-top: 2rem;
  position: relative;
}

.project-container-2 {
  margin-top: 2rem;
  position: relative;
}

.hr-footer {
  border: none;
  border-top: .1rem solid #DEDADA;
  width: 80%;
}

/*about-me*/
.about-me-copy {
  padding-top: 3rem;
}

/*my design process*/
#design-chart-image {
  object-fit: contain;
  padding-top: 3rem;
}

/*testimonial*/
.slider {
  background-color: #FAF8F0;
  height: 40rem;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*bullets*/
.slider__nav {
  width: 10px;
  height: 10px;
  margin: 0rem 10px 5rem;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  -webkit-transition: left 0.4s;
  transition: left 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.slider__contents {
  padding: 3rem;
  height: 100%;
  margin-top: -3.5rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}

.slider__txt {
  color: black;
  max-width: 50rem;
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

/*footer*/
footer {
  margin-top: 2rem;
  text-align: center;
}

.footer-icon {
  text-align: center;
}

.footer-copy {
  padding-right: 3rem;
  padding-left: 3rem;
}

.footer-icon a {
  display: inline-block;
  padding-bottom: 3rem;
  width: 10%;
}

.fab {
  color: black;
  font-size: 2rem;
}

/*tablet*/
@media screen and (min-width: 768px) {
  section {
    padding: 3rem 10rem;
  }

  .navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    z-index: 10;
  }

  .main-nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: .8rem;
  }

  .navbar-toggle {
    display: none;
  }

  .button-header {
    background-color: #F5896C;
    border-radius: .5rem;
    color: white;
    display: inline;
    padding: .8rem 2rem;
    margin-left: 40px;
  }

  .logo:hover, .nav-links:hover {
    color: #E07B63;
  }

  h1 {
    font-size: 3.4rem;
    line-height: 1.3em;
    margin: 2rem 3rem;
  }

  .about {
    display: flex;
    margin-top: 3rem;
    padding-bottom: 0rem;
  }

  .about-me-copy {
    padding-top: 0rem;
    padding-left: 3rem;
    width: 70%;
  }

  .design {
    display: flex;
  }

  .design-copy {
    margin-right: 3rem;
    width: 100%;
  }

  #design-chart-image {
    height: 40rem;
    object-fit: contain;
    width: 50%;
  }

  .hr-footer {
    border-top: .1rem solid #DEDADA;
    width: 80%;
  }

  .other-projects {
    display: flex;
  }

  .project-container-1 {
    padding-right: 1rem;
    width: 100%;
  }

  .project-container-2 {
    padding-left: 1rem;
    width: 100%;
  }

  .profile-image {
    object-fit: cover;
    height: 40rem;
    width: 50%;
  }

}

/*desktop*/
@media screen and (min-width: 1025px) {
  section {
    padding: 3rem 15rem;
  }
}
